<%- include('./partials/head', {current: '/'}); %>

<main>

  <!-- Home Section -->
  <section id="home">

    <!-- Title -->
    <h1 class="capsLock">
      Platform Buurtinitiatieven.
    </h1>

    <div class="homeBackdrop"></div>


    <!-- Scroll Icons -->
    <div class="scrollIcons">
      <a href="#services">
        <p class="capsLock extraBold">Scroll naar beneden</p>
        <i class='bx bx-mouse'></i>
        <i class='bx bx-chevron-down'></i>
      </a>
    </div>

    <div class="shapeDivider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>
  </section>

  <section id="services">
    <div>
      <div>
        <h2>Onze initiatieven</h2>
        <p>Wij bieden een ruim aanbod aan initiatieven. Ben je op zoek naar een vraag of een aanbod?</p>
      </div>
      <div class="inputcontainer">
        <label for="vraag"
               class="extraBold">
                  <input type="radio" 
                         id="vraag" 
                         name="soortInitiatief"
                         onclick="showList(1)">
               Vraag
        </label>
        <label for="aanbod"
               class="extraBold">
                  <input type="radio" 
                         id="aanbod" 
                         name="soortInitiatief"
                         onclick="showList(2)">
              Aanbod
        </label>
      </div>
    </div>

    <div>
      <p id="listError">Er zijn nog geen initiatieven geselecteerd.</p>
      <ul id="listVraag">
        <% hallenData.forEach(function(database) { %>
          <% if (database.type == 'vraag' ) { %>
            <li class="activityItem">
              <% if (database.image) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= database.image %>" alt="Afbeelding voor het initiatief">
              <% } %>
  
              <div class="description">
                <a href="/initiatief/<%= database.id %>"><h3 class="capsLock"><%= database.title %></h3></a>
  
                <% if (database.start_date) { %>
                  <p>
                    <span><%= database.start_date %>
                    <% if (database.end_date) { %>
                      tot <%= database.end_date %></span>
                    <% } %>
                  </p>
                <% } %>
                
                <p><%- database.short_description %></p>
              </div>
  
              <a href="/initiatief/<%= database.id %>"><button class="capsLock extraBold">Meer informatie</button></a>
            </li>
          <% } %>
        <% }) %>
        <% messages.forEach(message => { %>
          <li class="activityPostedItem">
            <div class="description">
              <h3 class="capsLock"><%= message[0] %></h3>              
              <p><%= message[1] %> tot <%= message[2] %></p>
              <p><%= message[3] %></p>
              <a href="/#contact"><button class="capsLock extraBold">Contact</button></a>
            </div>
          </li>
        <% }) %>
      </ul>
  
      <ul id="listAanbod">
        <% hallenData.forEach(function(database) { %>
          <% if (database.type == 'aanbod' ) { %>
            <li class="activityItem">
              <% if (database.image) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= database.image %>" alt="Afbeelding voor het initiatief">
              <% } %>
  
              <div class="description">
                <a href="/initiatief/<%= database.id %>"><h3 class="capsLock"><%= database.title %></h3></a>
  
                <% if (database.start_date) { %>
                  <p>
                    <span><%= database.start_date %>
                    <% if (database.end_date) { %>
                      tot <%= database.end_date %></span>
                    <% } %>
                  </p>
                <% } %>
                
                <p><%- database.short_description %></p>
              </div>
  
              <a href="/initiatief/<%= database.id %>"><button class="capsLock extraBold">Meer informatie</button></a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </div>
  </section>

  <!-- Submit Activity Section -->
  <section id="submitservice">

    <div class="custom-shape-divider-top-1711994287">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
    </div>

    <!-- Section Title -->
    <div id="submitContent">
      <h2>Ben je op zoek naar een initiatief?</h2>
      <p class="textArea">
        Op zoek naar een balonnenclown? DJ voor een huisfeest? Het maakt niet uit wat! Vul dan het 
        formulier in, en wie weet vind je de juiste persoon waar jij naar op zoek bent.
      </p>  
      <button><a href="/aanvraag">Naar formulier</a></button>
    </div>
  </section>

</main>

<%- include('./partials/foot') %>