<%- include('./partials/head', {current: '/'}); %>

<main>

  <!-- Home Section -->
  <section id="home">

    <!-- Title -->
    <div class="titleWrapper flexLayout">
      <div>
        <h1 class="capsLock"><span class="extraThin">Platform</span><br>Buurtinitiatieven<br>Amsterdam West</h1>
        <p class="textArea">
          Dit platform is gericht naar het aanbieden of aanvragen van diverse buurtinitiatieven. In de meeste gevallen 
          is het moeilijk om de juiste persoon voor jouw klus te vinden, en daarom is dit platform ontwikkeld!
       </p>
      </div>
    </div>

  </section>
  <section id="homecover"></section>


  <section id="services">
    <h2>Onze initiatieven</h2>
    <p>Wij bieden een ruim aanbod aan initiatieven. Ben je op zoek naar een vraag of een aanbod?</p>

    <div class="inputContainer">
      <input type="radio" 
             id="Vraag" 
             name="soortInitiatief">
      <label for="Vraag"
             class="extraBold">
             Vraag
      </label>
      <input type="radio" 
             id="Aanbod" 
             name="soortInitiatief">
      <label for="Vraag"
             class="extraBold">
             Aanbod
      </label>
    </div>

    <ul class="flexLayout">
      <% hallenData.forEach(function(database) { %>
        <% if (database.type == 'vraag' ) { %>
          <li class="activityItem">
            <% if (database.image) { %>
              <img src="https://fdnd-agency.directus.app/assets/<%= database.image %>" alt="Afbeelding voor het initiatief">
            <% } %>

            <div class="description">
              <a href="/initiatief/<%= database.id %>"><h3 class="capsLock"><%= database.title %></h3></a>

              <% if (database.start_date) { %>
                <p>
                  <span><%= database.start_date %>
                  <% if (database.end_date) { %>
                    tot <%= database.end_date %></span>
                  <% } %>
                </p>
              <% } %>
              
              <p><%- database.short_description %></p>
            </div>

            <a href="/initiatief/<%= database.id %>"><button class="Btn capsLock extraBold">Meer informatie</button></a>
          </li>
        <% } %>
      <% }) %>
      <% messages.forEach(message => { %>
        <li class="activityPostedItem">
          <div class="description">
            <h3 class="capsLock"><%= message[0] %></h3>              
            <p><%= message[1] %> tot <%= message[2] %></p>
            <p><%= message[3] %></p>
            <a href="/#contact"><button class="Btn capsLock extraBold">Contact</button></a>
          </div>
        </li>
      <% }) %>
    </ul>

    <ul class="flexLayout">
      <% hallenData.forEach(function(database) { %>
        <% if (database.type == 'aanbod' ) { %>
          <li class="activityItem">
            <% if (database.image) { %>
              <img src="https://fdnd-agency.directus.app/assets/<%= database.image %>" alt="Afbeelding voor het initiatief">
            <% } %>

            <div class="description">
              <a href="/initiatief/<%= database.id %>"><h3 class="capsLock"><%= database.title %></h3></a>

              <% if (database.start_date) { %>
                <p>
                  <span><%= database.start_date %>
                  <% if (database.end_date) { %>
                    tot <%= database.end_date %></span>
                  <% } %>
                </p>
              <% } %>
              
              <p><%- database.short_description %></p>
            </div>

            <a href="/initiatief/<%= database.id %>"><button class="Btn capsLock extraBold">Meer informatie</button></a>
          </li>
        <% } %>
      <% }) %>
    </ul>
  </section>

  <!--   Activity Section -->
  <section id="submitactivity">

    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       02
    </p>

    <!-- Section Title -->
    <div class="submitContent flexLayout">
      <div class="flexLayout">
        <div>
          <!-- Section Tag -->
          <p class="sectionTag capsLock extraBold" 
             aria-hidden="true">
             Initiatief Aanvragen
          </p>
          <h2><span class="extraThin">Ben je op zoek naar een</span> initiatief?</h2>
          <p class="textArea">
            Op zoek naar een balonnenclown? DJ voor een huisfeest? Het maakt niet uit wat! Vul dan het 
            formulier in, en wie weet vind je de juiste persoon waar jij naar op zoek bent.
          </p>  
        </div>  
      </div>
    </div>
  </section>

</main>

<%- include('./partials/foot') %>