<%- include('./partials/head', {current: '/'}); %>

<main>

  <!-- Home Section -->
  <section id="home">

    <!-- Title -->
    <div class="titleWrapper flexLayout">
      <div>
        <h1 class="capsLock"><span class="extraThin">Platform</span><br>Buurtinitiatieven<br>Amsterdam West</h1>
        <p class="textArea">
          Dit platform is gericht naar het aanbieden of aanvragen van diverse buurtinitiatieven. In de meeste gevallen 
          is het moeilijk om de juiste persoon voor jouw klus te vinden, en daarom is dit platform ontwikkeld!
       </p>
      </div>
      <div class="circle3D flexLayout">
        <img src="/images/dehallenscenery.jpg" alt="Sfeerimpressie van de Hallen voor de homepagina">
      </div>
    </div>

  </section>
  <section id="homecover"></section>


  <!-- Activity Section -->
  <section id="activity">

    <!-- Section Tag -->
    <p class="sectionTag capsLock extraBold" 
       aria-hidden="true">
       Vraag en Aanbod
    </p>
    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       01
    </p>

    <!-- Section Title -->
    <h2><span class="extraThin">Bekijk onze diverse</span> initiatieven</h2>

    <h3 class="listTitle"><span class="extraThin">Dit is wat mensen</span> vragen</h3>
    <ul class="activityList flexLayout">
      <% hallenData.forEach(function(database) { %>
        <% if (database.type == 'vraag' ) { %>
          <li class="activityItem">
            <% if (database.image) { %>
              <img src="https://fdnd-agency.directus.app/assets/<%= database.image %>" alt="Afbeelding voor het initiatief">
            <% } %>

            <div class="description">
              <a href="/initiatief/<%= database.id %>"><h3 class="capsLock"><%= database.title %></h3></a>

              <% if (database.start_date) { %>
                <p>
                  <span><%= database.start_date %>
                  <% if (database.end_date) { %>
                    tot <%= database.end_date %></span>
                  <% } %>
                </p>
              <% } %>
              
              <p><%- database.short_description %></p>
            </div>

            <a href="/initiatief/<%= database.id %>"><button class="Btn capsLock extraBold">Meer informatie</button></a>
          </li>
        <% } %>
      <% }) %>
      <% messages.forEach(message => { %>
        <li class="activityPostedItem">
          <div class="description">
            <h3 class="capsLock"><%= message[0] %></h3>              
            <p><%= message[1] %> tot <%= message[2] %></p>
            <p><%= message[3] %></p>
            <a href="/#contact"><button class="Btn capsLock extraBold">Contact</button></a>
          </div>
        </li>
      <% }) %>
    </ul>

    <h3 class="listTitle"><span class="extraThin">Dit is wat mensen</span> aanbieden</h3>
    <ul class="activityList flexLayout">
      <% hallenData.forEach(function(database) { %>
        <% if (database.type == 'aanbod' ) { %>
          <li class="activityItem">
            <% if (database.image) { %>
              <img src="https://fdnd-agency.directus.app/assets/<%= database.image %>" alt="Afbeelding voor het initiatief">
            <% } %>

            <div class="description">
              <a href="/initiatief/<%= database.id %>"><h3 class="capsLock"><%= database.title %></h3></a>

              <% if (database.start_date) { %>
                <p>
                  <span><%= database.start_date %>
                  <% if (database.end_date) { %>
                    tot <%= database.end_date %></span>
                  <% } %>
                </p>
              <% } %>
              
              <p><%- database.short_description %></p>
            </div>

            <a href="/initiatief/<%= database.id %>"><button class="Btn capsLock extraBold">Meer informatie</button></a>
          </li>
        <% } %>
      <% }) %>
    </ul>
  </section>


  <!-- Submit Activity Section -->
  <section id="submitactivity">

    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       02
    </p>

    <!-- Section Title -->
    <div class="submitContent flexLayout">
      <div class="flexLayout">
        <div>
          <!-- Section Tag -->
          <p class="sectionTag capsLock extraBold" 
             aria-hidden="true">
             Initiatief Aanvragen
          </p>
          <h2><span class="extraThin">Ben je op zoek naar een</span> initiatief?</h2>
          <p class="textArea">
            Op zoek naar een balonnenclown? DJ voor een huisfeest? Het maakt niet uit wat! Vul dan het 
            formulier in, en wie weet vind je de juiste persoon waar jij naar op zoek bent.
          </p>  
        </div>  
      </div>
      <div class="formWrapper flexLayout">
        <form method="post" action="/">
          <h3>Wat heb je nodig?</h3>
          <textarea rows="3" cols="40" required name="bericht"></textarea> <br><br>
          
          <h3>Voor wanneer is dit?</h3>
          <input type="date" required name="bericht"></input> tot <input type="date" required name="bericht"></input> <br><br>

          <h3>Geef een korte beschrijving:</h3>
          <textarea rows="10" cols="40" required name="bericht"></textarea> <br><br>

          <button type="submit" class="Btn capsLock extraBold">Aanvraag indienen</button>
        </form>
      </div>
    </div>
  </section>


  <!-- Contact Section -->
  <section id="contact">

    <!-- Section Tag -->
    <p class="sectionTag capsLock extraBold" 
       aria-hidden="true">
       Contact
    </p>
    <!-- Section Number -->
    <p class="sectionNumber extraBold"
       aria-hidden="true">
       03
    </p>

    <!-- Section Title -->
    <h2><span class="extraThin">Heb je</span> vragen?</h2>

    <!-- Contact Info -->
    <div class="contact-wrapper flexLayout">
      <div class="contact-container">
        <h3>Hotel de Hallen</h3>
        <ul>
          <li><a href="www.hoteldehallen.com">www.hoteldehallen.com</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@hoteldehallen.com">info@hoteldehallen.com</a></li>
          <li><a href="tel:0208208670">Tel. +31(0)20 8208670</a></li>
        </ul>
        <h3>De Hallen Studio's</h3>
        <ul>
          <li><a href="www.hallenstudios.nl">www.hallenstudios.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@dehallenstudios.nl">info@dehallenstudios.nl</a></li>
          <li><a href="tel:0208208206">Tel. +31(0)20 8208206</a></li>
        </ul>
        <h3>De FilmHallen</h3>
        <ul>
          <li><a href="www.filmhallen.nl">www.filmhallen.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@filmhallen.nl">info@filmhallen.nl</a></li>
          <li><a href="tel:850004544">Tel. +31 85 000 4544</a></li>
        </ul>
      </div>
  
      <div class="contact-container">
        <h3>De Foodhallen</h3>
        <ul>
          <li><a href="www.foodhallen.nl">www.foodhallen.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@foodhallen.nl">info@foodhallen.nl</a></li>
          <li>(geen Tel. beschikbaar)</li>
        </ul>
        <h3>The Maker Market</h3>
        <ul>
          <li><a href="www.themakerstore.nl">www.themakerstore.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hello@themakermarket.nl">hello@themakermarket.nl</a></li>
          <li><a href="tel:0202617667">Tel. +31(0)20 2617667</a></li>
        </ul>
        <h3>Beheerorganisatie</h3>
        <ul>
          <li><a href="www.dehallen-amsterdam.nl">www.dehallen-amsterdam.nl</a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=info@dehallen-amsterdam.nl">info@dehallen-amsterdam.nl</a></li>
          <li><a href="tel:0207058164">Tel. +31(0)20 7058164</a></li>
        </ul>
      </div>
    </div>    
  </section>

</main>

<%- include('./partials/foot') %>