<%- include('./partials/head', {current: '/initiatief'}); %>

<!-- Detail Section -->
<section id="detail">
  <a href="/#activity"><button class="backBtn Btn capsLock extraBold">Terug</button></a>

  <div class="titleWrapper stripedBackground flexLayout">
    <div class="description">
      <a href="/initiatief/<%= hallenData.id %>"><h3 class="capsLock"><%= hallenData.title %></h3></a>

      <% if (hallenData.start_date) { %>
        <p>
          <span><%= hallenData.start_date %>
          <% if (hallenData.end_date) { %>
            tot <%= hallenData.end_date %></span>
          <% } %>
        </p>
      <% } %>
      
      <p><%- hallenData.long_description %></p>
    </div>
    <div class="circle3D flexLayout">
      <% if (hallenData.image) { %>
        <img src="https://fdnd-agency.directus.app/assets/<%= hallenData.image %>">
      <% } %>
    </div>
  </div>
</section>

<%- include('./partials/foot') %>